.btn-page-admin{
    text-decoration: none!important;
    color:black;
    font-size: medium;
    font-family: 'Special Elite', cursive;
}
.btn-page-admin:hover {
    transition-duration: 1s;
    color:gray;
}

.btn-delete-card{
    text-decoration: none!important;
    color:white;
    background-color:darkred;
    border: none;
    border-radius: 3px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 5px;
    font-weight: bolder;
}
.btn-delete-card:hover{
    text-decoration: none!important;
    color:white;
    background-color:crimson;
    transition-duration: 1s;
}

.btn-show-card{
    width: 100%;
}

.link-show-card{
    margin-right: 5px;
    width: 90px;

}
.zone-flag{
    width: 30%;
    height: 200px;
    margin-left: 80px;
}
#flag{
    padding-left: 50px;
    padding-top: 30px;
}

#contenu{
    height:750px;
}

.container {
    margin: auto;
    padding:0;
    max-width: 1140px;
}
.container-card{
    width:300px;
    height: 250px;
}
.titleHome{
    font-size: 48px!important;
    font-family: 'Special Elite', cursive;
}
.title{
    font-size: large;
    font-family: 'Special Elite', cursive;
}

.footer-link{
    text-decoration: none;
    color:black;
    font-family: 'Special Elite', cursive;
    font-size: small;
}
.footer-link:hover{
    text-decoration: none;
    transition-duration: 1s;
    color:gray;
}
#news{
    border:1px solid slategray;
    border-radius: 5px;
}
.news-txt{
    font-family: 'Special Elite', cursive;
    font-size: small;
}
.row-home{
    padding-top:150px;
}
.zone-info{
    margin-top: 60px;
    margin-left: 85px;
    font-size: large;
    font-family: 'Special Elite', cursive;
    width: 40%;
}

.map-title{
    margin-left: 85px;
    font-size: large;
    font-family: 'Special Elite', cursive;
}
#map {
    border-radius: 5px;
    margin-left: 100px;
    margin-top: 35px;
    height: 200px;
    width: 40%;
}
#map2 {
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 35px;
    height: 200px;
    width: 40%;
}
.img-city{
    border-radius: 5px;
    height: 220px;
    margin-top: 30px;
    margin-left: 100px;
    width: 40%;
}
.zone-news{
    padding: 20px 15px 0 15px;
    height: 220px;
    margin-top: 30px;
    margin-left: 50px;
    width: 40%;
}
.logo{
    width:20px;
    height:20px;
}

.logo-envoyees{
    width:150px;
    height:150px;
}

.logo-recues{
    width:150px;
    height:150px;

}

#mapleaf {
    height: 180px; 
}

.logo-site{
    width:100px;
    height:100px;
}
